# FastAPI Framework y dependencias core
fastapi
uvicorn[standard]
pydantic
pydantic-settings

# Base de datos y ORM
sqlmodel
sqlalchemy

# Validación y utilidades
python-multipart
python-dotenv

# Testing
pytest
pytest-asyncio
httpx

# JSON Web Tokens
PyJWT>=2.0.0
#email validator
pydantic[email]